// Breakpoints

$tablet: 768px;
$display: 1280px;

/* FONT SIZES */

$font-regular: 16px;
$font-medium: 24px;
$font-large: 40px;

/* COLOR */

$color-primary: #f1f0eb;
$color-secondary: #e5e1d8;
$color-light: #f1a90e;
$color-dark: #685f22;

/* FONT FAMILY */
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Merriweather", serif;
