@import "../../../stylesheets/core/variables";
@import "../../../stylesheets/core/mixins";

.header {
  width: 100%;
  height: 100px;
  background: $color-primary;
  z-index: 100;

  & nav.header__menu {
    height: 100%;
    background: $color-primary;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;

    .logo_container li {
      color: black;
      font-size: 35px;
      width: auto;
      height: 100%;
      font-family: $font-primary;
      display: flex;
      align-items: center;
      font-weight: bold;
    }

    ul.menu {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;

      @include tablet {
        flex-direction: row;
      }

      li {
        width: 200px;
        height: 30px;
        color: $color-secondary;
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        color: black;
        text-transform: uppercase;
        font-weight: bold;

        @include tablet {
          height: 50px;
        }

        &:hover {
          color: $color-dark;
        }
      }
    }
  }
}
